.navbar {
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  box-shadow: 0 3px 2px -2px white;
  padding: 0px 40px;
}

.navbar-content-top {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}


h2 {
  color: #3AC0C7;
  margin: 0;
}

.navbar-link {
  color: white;
  padding: 0px 10px;
  margin: 0;
}

.navbar-link:hover {
  color: white;
  box-shadow: 0 3px 2px -2px white;
  transition: box-shadow 0.3s ease-in-out;
}


